.column {
    
    width: 100%;
    h1{
        text-align: center;
        font-size: 40px;
    }
    p{

        font-size: 18px;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
    }
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .expertsimage{
      text-align: center;
    border-radius: 45px;
    padding-top: 15px;
    width: 60%;
    margin-left: 20%;
}

.pastexperience
  {
      height: 650px;
      text-align: center;
    background-color: #282e34;
    h1{
        padding-top: 30px;
        color: white;
    }
    p{
        font-size: 18px;
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: white;
    }
  }

  .qualifications
  {
      height: 200px;
      text-align: center;
    background-color: white;
    h1{
        padding-top: 30px;
        color: black;
    }
    p{
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: black;
    }
    .qualificationslist{
        text-align: left;
        font-size: 20px;
        color: black;
        list-style-type: circle;
        li{
            font-size: 18px;
            margin-left: 10%;
            color: black;
        }
    }
  }


  .memberships
  {
      height: 300px;
      text-align: center;
    background-color: #282e34;
    h1{
        padding-top: 30px;
        color: white;
    }
    p{
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: white;
    }
    .membershipslist{
        text-align: left;
        font-size: 18px;
        color: white;
        list-style-type: circle;
        li{
            font-size: 18px;
            margin-left: 10%;
            color: white;
        }
    }
  }








@media only screen and (min-width: 1064px){
    .column {
    text-align: center;
    float: left;
    width: 50%;
    h1{
        font-size: 40px;
    }
    p{
        text-align: justify;
        margin-right: 50px;
    }
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .expertsimage{
      border-radius: 45px;
      padding-top: 15px;
      height: 500px;
  }

  .pastexperience
  {
      height: 250px;
      text-align: center;
    background-color: #282e34;
    h1{
        padding-top: 30px;
        color: white;
    }
    p{
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: white;
    }
  }

  .qualifications
  {
      height: 250px;
      text-align: center;
    background-color: white;
    h1{
        padding-top: 30px;
        color: black;
    }
    p{
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: black;
    }
    .qualificationslist{
        text-align: left;
        font-size: 20px;
        color: black;
        list-style-type: circle;
        li{
            margin-left: 10%;
            color: black;
        }
    }
  }

  .memberships
  {
      height: 330px;
      text-align: center;
    background-color: #282e34;
    h1{
        padding-top: 30px;
        color: white;
    }
    p{
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: white;
    }
    .membershipslist{
        text-align: left;
        font-size: 20px;
        color: white;
        list-style-type: circle;
        li{
            margin-left: 10%;
            color: white;
        }
    }
  }
}