html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
a{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.columnimage{
    text-align: center;
float: left;
width: 100%;
}
.column {
    
    width: 100%;
    h1{
        text-align: center;
        font-size: 40px;
    }
    p{

        font-size: 18px;
        text-align: justify;
        width: 90%;
        margin-left: 5%;
    }
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  //defines image dimensions
  .expertsimage{
      text-align: center;
    border-radius: 45px;
    padding-top: 15px;
    height: 300px;
}

//past experiences div
.pastexperience
  {
      height: auto;
      padding-bottom: 20px;
      text-align: center;
    background-color: #282e34;
    h1{
        padding-top: 30px;
        color: white;
    }
    p{
        font-size: 18px;
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: white;
    }
  }

  //div with all bulletpoints
  .bulletdiv{
    height: 500px;
    text-align: center;
  background-color: white;
    .bulletcolumn {
        float: left;
        width: 100%;
        h1{
            font-size: 40px;
            text-align: center;
            font-family: Helvetica;
        }
        .listindiv{
            text-align: left;
            font-size: 20px;
            color: black;
            list-style-type: circle;
            li{
                font-family: Helvetica;
                font-size: 20px;
                margin-left: 10%;
                color: black;
            }
        }
      }
      
      /* Clear floats after the columns */
      .bulletrow:after {
        content: "";
        display: table;
        clear: both;
      }

  }


  
  .contact{
    padding-bottom: 10px;
    height: auto;
    background-color: white;
    text-align: center;
    
    a{
      text-decoration: none;
color: black;
    }
    .contact-text{
      text-align: center;
      display: inline-block;
      p{
        font-size: 16px;
        display: inline-block;
        
      }
      .andy-clay-contact-mail
      {
        

        img{
          margin-bottom: -6px;

          padding-right: 10px;
        }
        margin-right: 10px;
      }
      .andy-clay-contact-phone
      {
        img{
          margin-bottom: -6px;

          padding-right: 10px;
        }
        margin-left: 10px;
      }
    }
  
  }
  .contact-separator{
    width: 200px;
    background-color: black;
    border-color: black;
    height: 2px;
  }

@media only screen and (min-width: 1064px){

  .contact{

    .contact-text{
      p{
        font-size: 20px;
      }
    }
     .contact-separator{
      width: 500px;
      background-color: black;
      border-color: black;
      height: 2px;
    }
  }
  

  //defines image column smaller
    .columnimage{
        text-align: center;
    float: left;
    width: 30%;
    }

//Defines column sizes for text regarding andy
    .column {
    text-align: center;
    float: left;
    width: 70%;
    h1{
        font-family: Helvetica;

        text-align: left;
        margin-left: 5%;
        font-size: 40px;
    }
    p{
        text-align: justify;
        margin-right: 50px;
        font-family: Helvetica;

    }
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  //image sizes for desktop
  .expertsimage{
      border-radius: 45px;
      margin-top: 4%;
      height: 400px;
      width: auto;
  }

 

  //Defines past experiences div
  .pastexperience
  {
      height: 260px;
      text-align: center;
    background-color: #282e34;
    h1{
        font-family: Helvetica;

        padding-top: 40px;
        color: white;
        font-size: 40px;
    }
    p{
        
        font-family: Helvetica;
        margin-left: 10%;
        text-align: center;
        width: 80%;
        color: white;
    }
  }

  //defines bullet div
  .bulletdiv{
    height: auto;
    text-align: center;
  background-color: white;
    .bulletcolumn {
        float: left;
        width: 50%;
        h1{
          margin-left: -30px;
            font-size: 40px;
            text-align: center;
            font-family: Helvetica;
        }
        .listindiv{
          margin-top: -25px;
            padding-left: 27%;
            text-align: left;
            font-size: 20px;
            color: black;
            list-style-type: circle;
            li{
                font-family: Helvetica;
                font-size: 20px;
                margin-left: 10%;
                color: black;
            }
        }
      }
      
      /* Clear floats after the columns */
      .bulletrow:after {
        content: "";
        display: table;
        clear: both;
      }

  }
  

  
}