@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.banner {
  background: url("../../images/index/home.png.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  color: white;
}

.banner .opacity {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.banner .bannersText {
  padding-top: 100px;
}

.banner h1 {
  margin-top: -80px;
  font-family: Helvetica;
  text-align: center;
  font-size: 50px;
}

.banner p {
  text-align: center;
  margin-top: -30px;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.banner .buttons {
  text-align: center;
}

.indexcontent {
  text-align: center;
  height: auto;
  width: 80%;
  margin-left: 10%;
}

.indexcontent h1 {
  font-family: Helvetica;
  font-size: 30px;
}

.indexcontent p {
  font-family: Helvetica;
  font-size: 15px;
}

#expertWitnessLegalButton {
  margin-top: 10px;
}

/*text scroll*/
#section03 {
  /*position: relative;
    width: 100%;
    height: 100%;*/
}

#section03::after {
  /*position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 80%;*/
  /*/*background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);*/
}

/*text scroll*/
.demo a {
  bottom: 200px;
  z-index: 2;
  display: inline-block;
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 70%);
          transform: translate(-50%, 70%);
}

.demo a:hover {
  opacity: .5;
}

#section03 a {
  padding-top: 60px;
}

#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  /*box-shadow: 0 0 0 0 rgba(255,255,255,.1);*/
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 1064px) {
  .banner {
    max-width: 100%;
    max-height: 100%;
  }
  .banner h1 {
    text-align: center;
    font-size: 80px;
  }
  .banner P {
    font-size: 35px;
  }
  .indexcontent {
    text-align: center;
    width: 90%;
    margin-left: 5%;
  }
  .indexcontent h1 {
    font-size: 40px;
  }
  .indexcontent p {
    font-size: 20px;
  }
  .contentdiv {
    text-align: left;
    width: 80%;
    margin-left: 10%;
    text-align: justify;
  }
  .contentdiv h1 {
    font-size: 40px;
  }
  .contentdiv p {
    font-size: 23px;
  }
  .topicscontent {
    background-color: #282e34;
    text-align: center;
    width: 100%;
    height: auto;
  }
  .topicscontent h1 {
    text-align: left;
    font-size: 40px;
    color: white;
  }
  .topicscontent p {
    font-size: 23px;
  }
  .topicscontent .topics {
    text-align: left;
    font-size: 25px;
    color: white;
    list-style-type: circle;
    margin-left: 10%;
    padding: 0;
    font-size: 20px;
  }
  .topicscontent .topics li {
    font-size: 23px;
  }
  .expertprinciples {
    text-align: center;
    height: auto;
    padding-bottom: 2px;
    width: 80%;
    margin-left: 10%;
  }
  .expertprinciples h1 {
    font-family: Helvetica;
    font-size: 30px;
  }
  .expertprinciples p {
    font-family: Helvetica;
    font-size: 23px;
  }
  #leadingExpertsButton {
    margin-right: 10px;
  }
  #expertWitnessLegalButton {
    margin-left: 10px;
  }
  /*text scroll*/
  .demo a {
    z-index: 2;
    display: inline-block;
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    margin: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 70%);
            transform: translate(-50%, 70%);
  }
  .demo a:hover {
    opacity: .5;
  }
  #section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
              box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
/*# sourceMappingURL=index.css.map */