footer {
  background: #282E34;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding-bottom: 30px;
}

.left-column-outer, .middle-column-outer, .right-column-outer {
  width: 33.3333333333%;
  float: left;
  text-align: center;
  color: white;
}

.left-middle-column, .right-middle-column {
  display: inline-block;
}

.left-middle-column a, .right-middle-column a {
  text-decoration: none;
  color: white;
}

.left-column-outer, .right-column-outer {
  margin-top: 60px;
}

.contact-details-separator {
  width: 500px;
  background-color: #0080B8;
  border-color: #0080B8;
  height: 2px;
}

.menu {
  list-style: none;
}

.menu-item1, .menu-item2, .menu-item3 {
  display: inline;
  padding: 15px;
}

.right-left-column, .right-right-column {
  display: inline-block;
  padding-top: 20px;
}

.right-middle-column {
  padding-left: 20px;
}

.left-middle-column {
  padding-right: 20px;
}

.mail1, .mail2, .phone1, .phone2 {
  padding-right: 10px;
  margin-bottom: -8px;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}

.btn:hover {
  text-decoration: none;
}

#subscribeButton {
  margin-left: 10px;
}

#contactButton {
  margin-right: 10px;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid  2px #000;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  overflow: hidden;
  background-color: white;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
          transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.effect04:hover {
  background-color: #000;
}

/* HOVER*/
.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
  content: attr(data-sm-link-text);
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

/* HOVER */
.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

.footer-row2 {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer-row2 a {
  color: white;
  font-size: 11px;
}

@media only screen and (max-width: 1651px) {
  .left-column-outer, .middle-column-outer, .right-column-outer {
    width: 100%;
  }
  footer {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
  .contact-details-separator {
    width: 400px;
  }
}

@media only screen and (max-width: 614px) {
  .contact-details-separator {
    width: 150px;
  }
  .left-column-outer {
    width: 100%;
  }
  .menu {
    display: -ms-inline-grid;
    display: inline-grid;
    padding-left: 0px;
  }
  .right-left-column {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1810px) {
  .left-middle-column, .right-middle-column {
    width: 100%;
  }
  .left-middle-column a, .right-middle-column a {
    text-decoration: none;
    color: white;
  }
  .middle-column-outer {
    text-align: center;
  }
  .left-middle-column {
    padding-right: 0px;
  }
  .right-middle-column {
    padding-left: 0px;
  }
  .mail1, .mail2, .phone1, .phone2 {
    padding-right: 10px;
    margin-bottom: -8px;
  }
  .left-column-outer h1 {
    margin-top: -50px;
  }
  .right-column-outer h1 {
    margin-top: -40px;
  }
  .menu-item1, .menu-item2, .menu-item3 {
    margin-top: -20px;
  }
}
/*# sourceMappingURL=footer.css.map */