//needed to make footer stick to bottom of page
//html{ height:100%;}
//body{ min-height:100%; padding:0; margin:0; position:relative; }
//body::after{ content:''; display:block; height:100px; }
footer{ 
  position:absolute;  
  width:100%; 
  height:290px;
  margin-top: 40px; 
}
/* FOR DEMO ONLY */
footer{
   background:#282E34; 
}
//-------------------------------------------------------


.left-column-outer, .middle-column-outer, .right-column-outer{
  width: 33.3333333333%;
  float: left;
  text-align: center;
  color: white;
  
}
.left-middle-column, .right-middle-column{
  
  display: inline-block;

}
.left-column-outer, .right-column-outer{
  margin-top: 60px;
}
.contact-details-separator{
  width: 500px;
  background-color:#0080B8;
  border-color: #0080B8;
  height: 2px;
}
.menu{
  list-style: none;
}
.menu-item1, .menu-item2, .menu-item3{
  display: inline;
  padding: 15px;
}
.right-left-column, .right-right-column{
  display: inline-block;
  
  padding-top: 20px;
  
}
.right-middle-column{
  padding-left: 40px;
}
.left-middle-column{
  padding-right: 40px;
}
.right-left-column{
  padding-right: 60px;
}
.mail1, .mail2, .phone1, .phone2{
  padding-right: 20px;
  margin-bottom: -8px;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid  2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  background-color: white ;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}
  
.effect04:hover{

  background-color: #000;
}

/* HOVER*/
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}


.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVER */
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}
//------------------


@media only screen and (max-width: 1651px){
  .left-column-outer, .middle-column-outer, .right-column-outer{
  width: 100%;
  
}
footer{
  height: auto;
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:auto; 
}
.contact-details-separator{
  width: 400px;

}

}