//footer div
footer{
  background:#282E34; 
  position:absolute;  
  width:100%; 
  height:auto;
  margin-top: 40px;
  padding-bottom: 30px;
}
//-------------
//outlining the three colunms 
.left-column-outer, .middle-column-outer, .right-column-outer{
  width: 33.3333333333%;
  float: left;
  text-align: center;
  color: white;
  
}
//------------
//two colunms in the right colunm
.left-middle-column, .right-middle-column{
  a{
    text-decoration: none;
    color: white;
  }
  display: inline-block;
}
//------------
.left-column-outer, .right-column-outer{
  margin-top: 60px;
}
//blue line
.contact-details-separator{
  width: 500px;
  background-color:#0080B8;
  border-color: #0080B8;
  height: 2px;
}
//-----------------
.menu{
  list-style: none;
}
//navigation items
.menu-item1, .menu-item2, .menu-item3{
  display: inline;
  padding: 15px;
}
.right-left-column, .right-right-column{
  display: inline-block;
  padding-top: 20px;
}
.right-middle-column{
  padding-left: 40px;
}
.left-middle-column{
  padding-right: 40px;
}
//icons for contact details area
.mail1, .mail2, .phone1, .phone2{
  padding-right: 20px;
  margin-bottom: -8px;
}
//buttons for contact us and subscribe
.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
}
.btn:hover {
  text-decoration: none;
}
/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  outline: solid  2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  background-color: white ;
}
.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}
.effect04:hover{

  background-color: #000;
}
/* HOVER*/
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}
.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVER */
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}
//------------------
//----------------------
.footer-row2{
  display: inline-block;
  text-align: center;
  width: 100%;
  a{
    color: white;
    font-size: 11px;
  }

}
@media only screen and (max-width: 1651px){
  .left-column-outer, .middle-column-outer, .right-column-outer{
  width: 100%;
  
}
//footer area
footer{
  position:absolute;  
  width:100%; 
  height:auto;
  margin-top: 40px; 
}
//---------
//blue line
.contact-details-separator{
  width: 400px;
}
//---------
}
@media only screen and (max-width: 614px){
  //blue line
.contact-details-separator{
  width:150px;
}
//-----------
.left-column-outer{
  width: 100%;
}
.menu{
  display: inline-grid;
  padding-left:0px;
}
.right-left-column{
  margin-right: 5px;
}

}
@media only screen and (max-width: 1810px){
  .left-middle-column, .right-middle-column{
    
    width: 100%;
    a{
      text-decoration: none;
      color: white;
    }
  }
  .middle-column-outer{
    text-align: center;
    
  }
  .left-middle-column{
    padding-right: 0px;
  }
  .right-middle-column{
    padding-left: 0px;
  }
  //icons for the contact information
  .mail1, .mail2, .phone1, .phone2{
    padding-right: 10px;
    margin-bottom: -8px;
  }
  //-----------
  .left-column-outer{
    h1{
      margin-top: -50px;
    }
  }
  .right-column-outer{
    h1{
      margin-top: -40px;
    }
  }
  //menu area
  .menu-item1, .menu-item2, .menu-item3{
    margin-top: -20px;
  }
  //------------
}